name: ci.yml
on: [ push, pull_request ]

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: liberica
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: ${{ github.ref_name == 'master' && 'generate-and-submit' || 'disabled' }}
      - run: ./gradlew check
        name: Check
