name: ci.yml
on: [ push, pull_request ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: liberica
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew check
        name: Check
