name: Release

on: [ workflow_dispatch ]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: liberica
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Prepare GPG key
        run: echo '${{ secrets.GPG_PRIVATE_KEY }}' | gpg --dearmor > key.gpg

      - name: Prepare artifacts for release
        run: |
          ./gradlew publish \
            -Psigning.secretKeyRingFile='${{ github.workspace }}/key.gpg' \
            -Psigning.password='${{ secrets.GPG_PASSPHRASE }}' \
            -Psigning.keyId='${{ vars.GPG_KEY_ID }}'

      - name: Publish artifacts to Maven Central
        run: ./gradlew jreleaserFullRelease --no-configuration-cache
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVENCENTRAL_PASSWORD }}
